* , main{
  margin: 0px;
  padding: 0px;
  /* overflow-x: hidden; */
}

.totalheight{
  height: 80vh;
}

.onlyten{
  height: 10vh;
}

#backgroundimage1{
  background-image: url('./Assets/bg-home.jpg');
  /* background-size: 500px; */
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.layer1{
  background-color: rgba(56, 22, 124, 0.8)  ;
/* width: 100vw; */
height: 100%;
}

.button1{
  background-color: red;
  border-radius: 25px;
  padding: 10px 15px;
  border: 0px;
}

.onlyheight{
  height: 500px;
}

.hundredper{
  height: 100%;
  width: 100%;
}

.services{
  border-bottom: 2px solid red;
  /* border-width: 2px; */
}

.cardsbottomline{
  border-bottom: 2px solid rgb(234, 184, 184);
  /* border-width: 2px; */
}


nav {
    background-color: black;
  }

ul{
  margin-left: -20px;
}

.backgroundimage2{
  background-image: url('http://dorsin.react.themesbrand.com/assets/images/img-1.jpg');
  background-position: center;
  height: 60vh;
}

.bordersahdow{
  box-shadow: 2px 3px 5px #000000;
}